# Entorno virtual
venv/
.env

# Archivos temporales
*.pyc
__pycache__/
*.log
*.bak
*.tmp

# Archivos de VSCode
.vscode/

# Subidas o contenido pesado
static/uploads/*
!static/uploads/
!static/uploads/.gitkeep