<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Adopción N°47</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <div class="navbar">
            <a class="navbar-page" href="./index.html">Inicio</a>
            <a class="navbar-page" href="./agregar-adopcion.html">Agregar aviso de adopción</a>
			<a class="navbar-page" href="./listado-adopciones.html">Ver listado de adopciones</a>
			<a class="navbar-page" href="./estadisticas.html">Estadísticas</a>
        </div>
        <br/>
        <h1>Tipo de mascota: Gato</h1>
        <br/>
        <h2>Cantidad: 4 </h2>
        <h2>Edad: 1 mes</h2>
        <br/>
        <h2>Fecha publicación: 2025-08-08 10:00</h2>
        <br/>
        <h2>Comuna: Ñuñoa</h2>
        <h3>Sector: Tobalaba</h3>
        <br/>
        <p>Contacto: Sabrina Salazar
            <ul>
                <li>+569 12567839</li>
                <li>Email: sabi.sa@outlook.com</li>
            </ul>
        <br/>
        <h3>Foto/s</h3>
        <img id="myImg" alt="aviso adopción 47" src="../media/gato1.jpg" width="320" height="240">
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" alt="modal camera" src="../media/gato1.jpg" id="img01">
            <div id="caption"></div>
        </div>

        <br/><br/>
        <div class="nav-buttons">
            <a href="./listado-adopciones.html" class="btn">⬅️ Volver al listado</a>
            <a href="./index.html" class="btn">Volver al inicio</a>
        </div>

        <script src="../js/adopciones.js"></script>
    </body>
</html>