{% extends "base.html" %}

{% block title %} Agregar aviso de adopción {% endblock %}

{% block content %}
<h1>Agregar aviso de adopción</h1>
<br/>
<form action="{{ url_for('agregar_adopcion') }}" method="POST" enctype="multipart/form-data">
<h3>¿Dónde?</h3>
<p>
    <label for="region" class="form-label">Región<abbr title="Este campo es obligatorio" aria-label="required">*</abbr></label>
    <select class="form-select" id="region" name="region_id" required>
        <option value="">Seleccione región</option>
        {% for region in regiones %}
            <option value="{{ region.id }}" {% if region.id == region_seleccionada %}selected{% endif %}>{{ region.nombre }}</option>
        {% endfor %}
    </select>
    <span class="error" id="error-region"></span>
</p>
<p>
    <label for="comuna" class="form-label">Comuna<abbr title="Este campo es obligatorio" aria-label="required">*</abbr></label>
    <select class="form-select" id="comuna" name="comuna_id" required>
        <option value="">Seleccione comuna</option>
        {% if comunas %}
            {% for comuna in comunas %}
                <option value="{{ comuna.id }}" {% if comuna.id == comuna_seleccionada %}selected{% endif %}>{{ comuna.nombre }}</option>
            {% endfor %}
        {% endif %}
    </select>
    <span class="error" id="error-comuna"></span>
</p>
<p>
    <label for="sector" class="form-label">Sector</label>
    <input type="text" id="sector" name="sector" maxlength="100">
    <span class="error" id="error-sector"></span>
</p>

<h3>¿Contacto de esta publicación?</h3>
<p>
    <label for="nombre" class="form-label">Nombre<abbr title="Este campo es obligatorio" aria-label="required">*</abbr></label>
    <input type="text" id="nombre" name="nombre" minlength="3" maxlength="200" required>
    <span class="error" id="error-nombre"></span>
</p>
<p>
    <label for="email" class="form-label">Email<abbr title="Este campo es obligatorio" aria-label="required">*</abbr></label>
    <input type="Email" id="email" name="email" maxlength="100" required>
    <span class="error" id="error-email"></span>
</p>
<p>
    <label for="celular" class="form-label">Número de celular</label>
    <input type="tel" id="celular" name="celular" pattern="^\+\d{3}\.\d{8,9}$" placeholder="+569.12345678" maxlength="15">
    <span class="error" id="error-celular"></span>
</p>
<label for="contactar-por" class="form-label">Contactar por (opcional, máximo 5)</label>
<div id="contactosContainer">
    <div class="contacto">
    <label>Contacto:</label>
    <select id="contactar-por" name="contacto_tipo[]" class="contacto-select">
        <option value="">Seleccione</option>
        <option value="whatsapp">Whatsapp</option>
        <option value="telegram">Telegram</option>
        <option value="x">X</option>
        <option value="instagram">Instagram</option>
        <option value="tiktok">TikTok</option>
        <option value="otra">Otra</option>
    </select>
    <input type="text" 
            name="contacto_id[]" 
            class="contacto-input"
            placeholder="Ingrese ID o URL"
            minlength="4" maxlength="50"
            style="display:none;">
    <button type="button" class="eliminar-btn" style="display:none;">Eliminar</button>
    </div>
</div>
<button type="button" id="agregarBtn">Agregar contacto</button>
<span class="error" id="error-contacto"></span>

<h3>¿Qué mascota ofrece en adopción?</h3>

<fieldset>
    <legend>Tipo*</legend>
    <div>
        <input type="radio" id="tipo-gato" name="tipo-mascota" value="gato" />
        <label for="tipo-gato" class="form-label">Gato</label>

        <input type="radio" id="tipo-perro" name="tipo-mascota" value="perro" />
        <label for="tipo-perro" class="form-label">Perro</label>
    </div>
</fieldset>
<span class="error" id="error-tipo-mascota"></span>
<p>
    <label for="cantidad-mascota" class="form-label">Cantidad<abbr title="Este campo es obligatorio" aria-label="required">*</abbr></label>
    <input type="number" id="cantidad-mascota" name="cantidad-mascota" min="1" step="1" required>
    <span class="error" id="error-cantidad"></span>
</p>
<p>
    <label for="edad-mascota" class="form-label">Edad<abbr title="Este campo es obligatorio" aria-label="required">*</abbr></label>
    <input type="number" id="edad-mascota" name="edad-mascota" min="1" step="1" required>
    <span class="error" id="error-edad"></span>
</p>
<p>
    <label for="medida-edad" class="form-label">Unidad medida edad<abbr title="Este campo es obligatorio" aria-label="required">*</abbr></label>
    <select id="medida-edad" name="medida-edad" required>
        <option value="">Seleccione</option>
        <option value="m">Meses</option>
        <option value="a">Años</option>
    </select>
    <span class="error" id="error-medida-edad"></span>
</p>
<p>
    <label for="fecha-entrega" class="form-label">Fecha disponible para entrega<abbr title="Este campo es obligatorio" aria-label="required">*</abbr></label>
    <input type="datetime-local" id="fecha-entrega" name="fecha-entrega" required >
    <span class="error" id="error-fecha"></span>
</p>
<p>
    <label for="descripcion-mascota" class="form-label">Descripción</label>
    <textarea id="descripcion-mascota" name="descripcion-mascota" maxlength="500" rows="10" cols="50"></textarea>
</p>
<p>
    <label for="foto-mascota" class="form-label">Foto/s<abbr title="Este campo es obligatorio" aria-label="required">*</abbr></label>
    <input type="file" id="foto-mascota" name="foto-mascota" multiple accept="image/*" required>
    <span class="error" id="error-foto"></span>
</p>

<p>
    <button type="submit">Agregar adopción</button>
</p>
</form>
{% endblock %}

{% block javascript %}

<script>
    window.comunasPorRegion = JSON.parse('{{ comunas_por_region | tojson | safe }}');
</script>

<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}