{% extends "base.html" %}

{% block title %} Estadísticas {% endblock %}

{% block content %}
<h1>Estadísticas</h1>
<br/>

<!-- Gráfico 1: Avisos por día -->
<div id="graficoPorDia" class="my-5"></div>
<div id="graficoPorTipo" class="my-5"></div>
<div id="graficoPorMesYTipo" class="my-5"></div>

<div class="nav-buttons">
    <a href="{{ url_for('index') }}" class="btn">Volver al inicio</a>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/graficos.js') }}"></script>

<!-- Importar Highcharts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock %}