{% extends "base.html" %}

{% block title %} Estadísticas {% endblock %}

{% block content %}
<h1>Estadísticas</h1>
<ul>
    <li>Total de avisos: {{ total_avisos }}</li>
    <li>Total de fotos: {{ total_fotos }}</li>
    <li>Total de contactos: {{ total_contactos }}</li>
</ul>

<h1>Estadísticas</h1>
<br/>
<img id="myImg1" alt="Avisos por día (gráfico de línea)" src="{{ url_for('static', filename='graphs/graf_linea.png') }}">
<img id="myImg2" alt="Avisos por tipo (gráfico de torta)" src="{{ url_for('static', filename='graphs/graf_torta.png') }}">
<img id="myImg3" alt="Avisos por mes (gráfico de barras)" src="{{ url_for('static', filename='graphs/graf_barras.png') }}">

<div class="nav-buttons">
    <a href="{{ url_for('index') }}" class="btn">Volver al inicio</a>
</div>
{% endblock %}

{% block javascript %}
<!-- <script lang="javascript" src="{{ url_for('static', filename='js/adopciones.js') }}"></script> -->
{% endblock %}