{% extends 'base.html' %}

{% block title %} Tarea 2 - Ariel León Soto {% endblock %}

{% block content %}
<div class="container">
    <h1>Bienvenido/as al sitio de adopciones de perros y gatos</h1>
    <p>
    Aquí podrás agregar avisos de adopción, revisar el listado de mascotas disponibles y ver estadísticas generales.
    </p>
</div>
<h3>Estos son los últimos avisos de adopción agregados:</h3>

        <table>
            <tr>
                <th>Fecha publicación</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Cantidad - Tipo - Edad</th>
                <th>Foto/s</th>
            </tr>
            {% for aviso in ultimos_avisos %}
            <tr>
                <td>{{ aviso.fecha_ingreso }}</td>
                <td>{{ aviso.comuna }}</td>
                <td>{{ aviso.sector }}</td>
                <td>{{ aviso.detalle }}</td>
                <td>
                    {% for foto in aviso.fotos %}
                        <img src="{{ foto.ruta_archivo }}" alt="Foto" width="320" height="240">
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/adopciones.js') }}"></script>
{% endblock %}