{% extends "base.html" %}

{% block title %} Listado de avisos de adopción {% endblock %}

{% block content %}
<h1>Listado de adopciones</h1>
<ul>
  {% for aviso in avisos %}
  <li>
    <strong>{{ aviso.tipo | capitalize }}</strong>
    ({{ aviso.cantidad }}) - {{ aviso.comuna.nombre }}
    <br />
    Contacto: {{ aviso.nombre }} ({{ aviso.email }})
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block javascript %}
<!-- <script lang="javascript" src="{{ url_for('static', filename='js/adopciones.js') }}"></script> -->
{% endblock %}